/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-SIDEBAR
 *  
 *  Sidebar abstraction used by other sidebar objects.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

/* SHARED STYLES ------------------------------------------------------------ */
*[class^="common-sidebars-"] {
    font-size: $lp;

    @include clearfix;

    @include media-query(max-width $tabtop-max) {
        position: relative;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }

    @include media-query(min-width $desktop-min) {
        position: fixed;
        top: 0;
        bottom: 0;
        max-width: z(13rem);
        width: z(13rem);
    }
}

*[class^="common-sidebar-"] {
    @include clearfix;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none outside none;
}

.comside-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: z(3rem);
    width: 100%;
    height: z(3rem);
    text-transform: uppercase;
}

.comside-link {
    @include clearfix;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: z((13 / $l) * 1rem);
    line-height: z(3rem);
    max-height: z(3rem);
    max-width: 100%;
    height: z(3rem);
    width: 100%;
}

*[class^="comside-icon-"] {
    position: absolute;
    left: 0;
    overflow: hidden;
    min-height: 100%;
    max-width: z(3rem);
    width: z(3rem);
    height: 100%;
    text-align: center;
}
