/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-MEDIA
 *  
 *  Page tools (such as socmed buttons) used globally.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.common-pagetools {
    @include clearfix;
    position: relative;
    margin: z(2rem) 0;
    min-width: 100%;
    min-height: z(4rem);
    max-width: 100%;
    width: 100%;
    border-top: 1px solid $whiteDark2;
    border-bottom: 1px solid $whiteDark2;
    overflow: hidden;
}

.common-shares {
    @include clearfix;
    position: relative;
    margin-right: z(1rem);
    float: left;
    margin: z(1rem) 0;
    @include media-query(max-width $tabtop-max) {
        left: 50%;
        clear:left;
    }
}

.comshare-btn {
    @include clearfix;
    @include transition(width 0.2s ease-in 0.1s);
    @include media-query(min-width $desktop-min) {
        min-width: z(5rem);
        width: z(5rem);
    }
    @include media-query(max-width $tabtop-max) { right: 50%; }
    @include media-query(max-width $tablet-max) {
        min-width: z(2rem);
        width: z(2rem);
    }

    position: relative;
    display: block;
    float: left;
    text-align: left;

    &:nth-of-type(n+2) { margin-left: z(0.5 * 1rem); }

    & > .icon {
        display: block;
        float: left;
        margin-right: z(0.5 * 1rem);
        width: z(2rem);
        height: z(2rem);
        line-height: z(2rem);
    }

    .comshare-count {
        float: right;
        text-align: right;
        white-space: nowrap;
    }

    &.twitter  { background-color: #2DAAE1; }
    &.facebook { background-color: #3B5998; }
    &.gplus    { background-color: #F90101; }
    &.linkedin { background-color: #1783BC; }

    &:hover    { background-color: $black; }

    &.open { width: z(5rem) !important; }
}

.common-siblingnavs {
    @include clearfix;

    @include media-query(max-width $tabtop-max) {
        left: 50%;
        float: left;
        clear: left;
    }

    @include media-query(min-width $desktop-min) {
        float: right;
        clear: right;
    }

    position: relative;
    margin: z(1rem) 0;

    .comsib-btn {
        @include clearfix;
        @extend .btn-black;
        float: left;
        position: relative;

        @include media-query(max-width $tabtop-max) {
            right: 50%;
            left: auto;
        }

        &:nth-of-type(n+2) { margin-left: z(0.5 * 1rem); }
    }
}
