.alerts {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: $leadpx * 2;
	z-index: 1999;
	background-color: $green;
}

.alert {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	margin: 0;
	text-align: center;
	font-size: 14px;
	color: $white;

	.fa {
		margin: 0 0 0 12px;
	}
}
