/*
Common Footer.

Footer Bar appears on every page.

Authored by Bangsawan & Silvi.

Markup:
<div class="footers">
    <div class="footer">
        <ul class="footer-navs">
            <li>
                <a href="#" class="footer-nav">About Us</a>
                <a href="#" class="footer-nav">Blogs</a>
                <a href="#" class="footer-nav">Categories</a>
                <a href="#" class="footer-nav">Instructors</a>
                <a href="#" class="footer-nav">Affiliates</a>
                <a href="#" class="footer-nav">Support</a>
                <a href="#" class="footer-nav">Terms of Use</a>
                <a href="#" class="footer-nav">Privacy</a>
            </li>
        </ul>
        <p class="copyright">&copy; 2013 Wikasa.com</p>
    </div>
</div>

Styleguide 2
*/
.footers {
	position: relative;
	width: 100%;
	height: $leadpx * 1.5;
	background-color: $black;
	margin: $leadpx 0 0 0;
}

.footer {
	@include clearfix;
	@extend %cn-full;
	background-color: $black;
	color: $white;
	height: $leadpx * 1.5;

	.footer-navs {
		margin: 0;
		padding: 0;
		list-style: none outside none;

		li {
			float: left;
			height: 100%;
		}
	}

	.footer-nav {
		margin: 0 0 0 12px;
		color: $whiteDark1;
		text-decoration: none;
		font-size: 12px;
		line-height: $leadpx * 1.5;

		&:hover { color: $green; }
	}

	.copyright {
		color: $whiteDark1;
		font-size: 12px;
		line-height: $leadpx * 1.5;
		text-align: right;
		float: right;
		padding: 0 12px 0 0;
	}
}
