/*
External Header.

Header for external page.

*Authored by Bangsawan & Silvi.*

Main Class: '.ext-head'

####Name Meanings####
*  ext : external
*  xhxt : external head
*  std1 : standard 1
*  ctn : content
*  crs : course

Markup:
<div class="ext-head">
    <div class="page">
        <div class="xh-media">
            <!-- <div class="media-std1"></div> -->
            <video class="media-std1" controls="controls" poster="../img/png/vid-poster/poster-0.png" width="480" height="270">
              <source src="../vid/sample/sample.mp4" type="video/mp4">
              <source src="../vid/sample/sample.webm" type="video/webm">
              <source src="../vid/sample/sample.ogv" type="video/ogg">
              <object type="application/x-shockwave-flash" data="http://player.longtailvideo.com/player.swf" width="480" height="270">
                <param name="movie" value="http://player.longtailvideo.com/player.swf">
                <param name="allowFullScreen" value="true">
                <param name="wmode" value="transparent">
                <param name="flashVars" value="controlbar=over&amp;image=..%2Fimg%2Fpng%2Fvid-poster%2Fposter-0.png&amp;file=sample.mp4">
                <img alt="Play" src="../img/png/vid-poster/poster-0.png" width="480" height="270" title="No video playback capabilities, please download the video below">
              </object>
            </video>
        </div>
        <div class="xh-ctn">
            <h1 class="crs-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, molestiae!</h1>
            <div class="crs-overview">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, rerum sapiente pariatur quis architecto error facere quisquam corrupti enim distinctio voluptas libero illo at?</p>
            </div>
            <!-- <div class="crs-meta">
                <p class="crs-meta-lab">Course by:</p>
                <a href="#" class="crs-meta-uim">
                    <img src="../img/png/UIM-120120.png" alt="User Image">
                </a>
            </div>-->
            <div class="crs-go">
                <p class="crs-meta-lab">Start learning now</p>
                <a href="#" class="crs-go-btn start">IDR 30.000</a>
                <a href="#" class="crs-go-btn wish"><i class="fa fa-plus-circle"></i>Wishlist</a>
            </div>
        </div>
    </div>
</div>

Styleguide 6
*/

.ext-head {
	@extend %full-width;
  text-align: center;
	background-color: $whiteDark3;
	color: $blackLite;
}

.crs-meta-lab {
	font-size: 12px;
	line-height: $leadpx;
}

.xh-ctn {
  position: relative;
	padding: $leadpx 0 (0.75 * $leadpx) 0;
  // font-family: $ff-sans-light;

  .crs-head {
  	.crs-title {
      font-weight: 400;
      // font-size: 24px;
      margin: 0 0 12px 0;
    }

    .crs-subtitle {
      font-size: 14px
    }
  }
}    

/*
External Header Video.

Video for external page header.

Main Class: '.xh-media'

Markup:
<div class="ext-head">
    <div class="page">
        <div class="xh-media">
            <!-- <div class="media-std1"></div> -->
            <video class="media-std1" controls="controls" poster="../img/png/vid-poster/poster-0.png" width="480" height="270">
              <source src="../vid/sample/sample.mp4" type="video/mp4">
              <source src="../vid/sample/sample.webm" type="video/webm">
              <source src="../vid/sample/sample.ogv" type="video/ogg">
              <object type="application/x-shockwave-flash" data="http://player.longtailvideo.com/player.swf" width="480" height="270">
                <param name="movie" value="http://player.longtailvideo.com/player.swf">
                <param name="allowFullScreen" value="true">
                <param name="wmode" value="transparent">
                <param name="flashVars" value="controlbar=over&amp;image=..%2Fimg%2Fpng%2Fvid-poster%2Fposter-0.png&amp;file=sample.mp4">
                <img alt="Play" src="../img/png/vid-poster/poster-0.png" width="480" height="270" title="No video playback capabilities, please download the video below">
              </object>
            </video>
        </div>
    </div>
</div>

Styleguide 6.1
*/

/*
External Header Content.

Content for external page header.

Main Class: '.xh-ctn'

Markup:
<div class="ext-head">
    <div class="page">
        <div class="xh-ctn">
            <h1 class="crs-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, molestiae!</h1>
            <div class="crs-overview">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, rerum sapiente pariatur quis architecto error facere quisquam corrupti enim distinctio voluptas libero illo at?</p>
            </div>
            <!-- <div class="crs-meta">
                <p class="crs-meta-lab">Course by:</p>
                <a href="#" class="crs-meta-uim">
                    <img src="../img/png/UIM-120120.png" alt="User Image">
                </a>
            </div>-->
            <div class="crs-go">
                <p class="crs-meta-lab">Start learning now</p>
                <a href="#" class="crs-go-btn start">IDR 30.000</a>
                <a href="#" class="crs-go-btn wish"><i class="fa fa-plus-circle"></i>Wishlist</a>
            </div>
        </div>
    </div>
</div>

Styleguide 6.2
*/
