/*
External Header.

Header for external page.

*Authored by Bangsawan & Silvi.*

Main Class: '.ext-head'

Markup:
<div class="ext-head">
    <div class="page">
        <div class="xh-media">
            <!-- <div class="media-std1"></div> -->
            <video class="media-std1" controls="controls" poster="../img/png/vid-poster/poster-0.png" width="480" height="270">
              <source src="../vid/sample/sample.mp4" type="video/mp4">
              <source src="../vid/sample/sample.webm" type="video/webm">
              <source src="../vid/sample/sample.ogv" type="video/ogg">
              <object type="application/x-shockwave-flash" data="http://player.longtailvideo.com/player.swf" width="480" height="270">
                <param name="movie" value="http://player.longtailvideo.com/player.swf">
                <param name="allowFullScreen" value="true">
                <param name="wmode" value="transparent">
                <param name="flashVars" value="controlbar=over&amp;image=..%2Fimg%2Fpng%2Fvid-poster%2Fposter-0.png&amp;file=sample.mp4">
                <img alt="Play" src="../img/png/vid-poster/poster-0.png" width="480" height="270" title="No video playback capabilities, please download the video below">
              </object>
            </video>
        </div>
        <div class="xh-ctn">
            <h1 class="crs-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, molestiae!</h1>
            <div class="crs-overview">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, rerum sapiente pariatur quis architecto error facere quisquam corrupti enim distinctio voluptas libero illo at?</p>
            </div>
            <!-- <div class="crs-meta">
                <p class="crs-meta-lab">Course by:</p>
                <a href="#" class="crs-meta-uim">
                    <img src="../img/png/UIM-120120.png" alt="User Image">
                </a>
            </div>-->
            <div class="crs-go">
                <p class="crs-meta-lab">Start learning now</p>
                <a href="#" class="crs-go-btn start">IDR 30.000</a>
                <a href="#" class="crs-go-btn wish"><i class="fa fa-plus-circle"></i>Wishlist</a>
            </div>
        </div>
    </div>
</div>

Styleguide 6
*/

.ext-head {
	@extend %full-width;
	background-color: $black;
	color: $white;
}

.xh-media {
	position: relative;
	float: left;
	padding: $leadpx 0 18px 0;
	width: $leadpx * 22;
	height: $leadpx * 13;
	background-color: $black;

	.media-std1 {
		margin: 0 auto;
	}
}

.crs-meta-lab {
	font-size: 12px;
	line-height: $leadpx;
}

.xh-ctn {
	position: relative;
	float: left;
	padding: $leadpx 0 18px 0;
	width: $leadpx * 21;
	height: $leadpx * 13;

	.crs-title,
	.crs-overview,
	.crs-meta {
		margin: 0 $leadpx $leadpx;
	}

	.crs-title {
		font-size: 28px;
		line-height: $leadpx * 1.5;
		max-height: $leadpx * 3;
		height: $leadpx * 3;
		overflow: hidden;
		font-weight: 400;
		max-width: $leadpx * 19;
		width: $leadpx * 19;
	}

	.crs-overview {
		font-size: 12px;
		line-height: $leadpx;
		color: $white;
		max-height: $leadpx * 3;
		height: $leadpx * 3;
		overflow: hidden;
		max-width: 75%;
		width: 75%;

		* {
			font-size: inherit;
			line-height: inherit;
		}
	}

	.crs-meta {
		max-width: $leadpx * 19;
		width: $leadpx * 19;

		.crs-meta-uim {
			@include border-radius(50%);
			display: block;
			width: $leadpx * 2;
			height: $leadpx * 2;
			border: 2px solid $white;
			overflow: hidden;
			margin: ($leadpx / 2) 0;
		}
	}

	.crs-go {
		max-width: $leadpx * 19;
		position: absolute;
		bottom: 0;
		margin: 0 $leadpx 18px $leadpx;

		.crs-go-btn {
			@include border-radius(2px);
			display: block;
			float: left;
			overflow: hidden;
			margin: 0 6px 0 0;
			max-width: $leadpx * 6;
			max-height: $leadpx * 1.5;
			width: $leadpx * 6;
			height: $leadpx * 2;
			color: $white;
			font-size: 16px;
			line-height: $leadpx * 1.5;
			text-align: center;

			&.start {
				background-color: $orange;
			}

			&.wish {
				background-color: $green;

				.fa {
					display: block;
					width: $leadpx * 1.5;
					height: $leadpx * 1.5;
					line-height: $leadpx * 1.5;
					border-right: 1px solid $black;
					float: left;
					color: $white;
				}
			}
		}
	}
}

/*
External Header Video.

Video for external page header.

Main Class: '.xh-media'

Markup:
<div class="ext-head">
    <div class="page">
        <div class="xh-media">
            <!-- <div class="media-std1"></div> -->
            <video class="media-std1" controls="controls" poster="../img/png/vid-poster/poster-0.png" width="480" height="270">
              <source src="../vid/sample/sample.mp4" type="video/mp4">
              <source src="../vid/sample/sample.webm" type="video/webm">
              <source src="../vid/sample/sample.ogv" type="video/ogg">
              <object type="application/x-shockwave-flash" data="http://player.longtailvideo.com/player.swf" width="480" height="270">
                <param name="movie" value="http://player.longtailvideo.com/player.swf">
                <param name="allowFullScreen" value="true">
                <param name="wmode" value="transparent">
                <param name="flashVars" value="controlbar=over&amp;image=..%2Fimg%2Fpng%2Fvid-poster%2Fposter-0.png&amp;file=sample.mp4">
                <img alt="Play" src="../img/png/vid-poster/poster-0.png" width="480" height="270" title="No video playback capabilities, please download the video below">
              </object>
            </video>
        </div>
    </div>
</div>

Styleguide 6.1
*/

/*
External Header Content.

Content for external page header.

Main Class: '.xh-ctn'

Markup:
<div class="ext-head">
    <div class="page">
        <div class="xh-ctn">
            <h1 class="crs-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, molestiae!</h1>
            <div class="crs-overview">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, rerum sapiente pariatur quis architecto error facere quisquam corrupti enim distinctio voluptas libero illo at?</p>
            </div>
            <!-- <div class="crs-meta">
                <p class="crs-meta-lab">Course by:</p>
                <a href="#" class="crs-meta-uim">
                    <img src="../img/png/UIM-120120.png" alt="User Image">
                </a>
            </div>-->
            <div class="crs-go">
                <p class="crs-meta-lab">Start learning now</p>
                <a href="#" class="crs-go-btn start">IDR 30.000</a>
                <a href="#" class="crs-go-btn wish"><i class="fa fa-plus-circle"></i>Wishlist</a>
            </div>
        </div>
    </div>
</div>

Styleguide 6.2
*/
