/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-TAB
 *  
 *  Common typography implementation used globally.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

*[class^="subheads-"] {
    @include clearfix;
    display: block;
    position: relative;
    font-family: $ff-sans-bold;
    margin: z(1rem) 0;
    @include media-query(max-width $mobile-max) { height: auto; }
    @include media-query(min-width $mobtab-min) { height: z(3rem); }

    & > a {
        position: relative;
        display: block;
        margin: 0;

        &:hover {  color: $orange; }
    }
}

.common-subhead {
    margin: z(1rem) 0 z(2rem) 0;
}

.common-mainbody {
    a {
        color: $green2;
        font-weight: bold
    }    
}

.subheads-1 {
    font-size: z(40 / $l * 1rem);
    line-height: z(3rem);
    color: $black;
    text-transform: uppercase;

    & > * {
        font-size: inherit;
        line-height: z(3rem);
    }
}

.subheads-2 {
    font-size: z(40 / $l * 1rem);
    line-height: z(3rem);
    color: $black;

    & > * {
        font-size: inherit;
        line-height: z(3rem);
    }
}

.subhead {
    .icon {
        @include media-query(max-width $tabtop-max) { display: none; }
        position: relative;
        display: block;
        height: z(3rem);
        width: z(3rem);
        margin-right: z(1rem);
        float: left;

        img {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            margin: -18px 0 0 -18px;
            height: 36px;
        }
    }
}

ul.steps {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.step {
    margin: 0 0 z(3rem) 0;
    line-height: z(2rem);
    .step-heading{
        padding: 0 z(1.5rem) z(0.5rem) z(1.5rem);
        // background-color: $whiteDark2;
        // background-color: $green;
        // color: $white  
    }
    .step-title{
        padding: z(1rem) z(1.5rem) z(1rem) z(1.5rem);
        // margin: 0 0 z(1rem) 0;
        // background-color: $whiteDark2;
        background-color: $whiteDark2;
        // background-color: $blackLite2;
        // color: $white     
    }
    .step-content{
    }
    .step-meta{
        padding: z(1rem) z(1.5rem) z(1rem) z(1.5rem);            
        background-color: $whiteDark2;
    }
    .comtab-area-dd-parent.js.is-active{
        li{
            background-color: $whiteDark2;
        }
        .step-content.js{
            background-color: $whiteDark2;
        }
    }
}    


.boxed {
    padding: z(1rem) z(1.5rem) z(1rem) z(1.5rem);
    background-color: $whiteDark1;
    &.boxed-green{
        background-color: $green;
        color: $white;
    }
    &.boxed-dark{
        background-color: $whiteDark2;        
    }
    &.boxed-red{
        background-color: $redLite2;
    }
    &.boxed-plain{
        background-color: $white;
    }
    &.boxed-standalone{
        margin: 0 0 z(2rem) 0;
    }
}

.align-center {
    text-align: center !important;
}

.small {
    font-size: z(12 / $l * 1rem) !important;
    a{
      font-size: z(12 / $l * 1rem) !important;  
    }
}

ul.vanilla {
    margin-left: 0 !important;
    li {
        list-style-type: none;
    }
}

a.vanilla {
    font-weight: normal;
    color: $black;
}

.pull-right{
    float: right
}

.small{
    font-size: z(13 / $l * 1rem);    
}

.mc-result{
    margin: 10px 0px 10px 0px;
    background-color: $whiteDark2;
    padding: 5px 10px 5px 10px;
    display: none;
}

.mc-result-correct{
    color: $green;
}

.mc-result-incorrect{
    color: $red;
}

.panel{
    padding: 30px 20px 30px 20px;
    margin: 0px 0px 20px 0px;
    background-color: $whiteDark2;
}

.panel-red{
    background-color: $gray !important;
}