/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.CONTAINER
 *  
 *  Container object.
 *  
 *  @author Rezki & Rianti
 *  @version 0.0.0
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.container,
*[class^="container"] {
    @include clearfix;
    font-size: 1em;

    &:nth-of-type(n+2) { margin-top: 1em; }

    @include media-query($mobile) {
        $total_columns: 4;
        $total_width: _get_total_from_column($mobile_column);
        @include container();
    }

    @include media-query($mobtab) {
        $total_columns: 4;
        $total_width: _get_total_from_column($mobtab_column);
        @include container();
    }

    @include media-query($tablet) {
        $total_columns: 6;
        $total_width: _get_total_from_column($tablet_column);
        @include container();
    }

    @include media-query($tabtop) {
        $total_columns: 8;
        $total_width: _get_total_from_column($tabtop_column);
        @include container();
    }

    @include media-query($desktop) {
        $total_columns: 10;
        $total_width: _get_total_from_column($desktop_column);
        @include container();
    }

    @include media-query($wide) {
        $total_columns: 12;
        $total_width: _get_total_from_column($wide_column);
        @include container();
    }
}

/* TEST MOCK ---------------------------------------------------------------- */
*[class^="container"].test {
    background-color: #EEE;
    min-height: 1em;
}
