/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-SIDEBAR-NAV
 *  
 *  Side Navigation Bar.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.common-sidebars-nav {
    z-index: 10;

    @include media-query(max-width $tabtop-max) { padding: 0; }

    @include media-query(min-width $desktop-min) {
        @include transition(left 0.3s ease-in 0.1s);
        left: z(-13rem);
        padding: z(4rem) 0 0 0;

        &.is-shown { left: z(0rem); }
    }
}

.common-sidebar-nav {
    @include media-query(max-width $tabtop-max) { background-color: transparent; }
    @include media-query(min-width $desktop-min) { background-color: $black; }
}

.comside-float-button {

    @include media-query(max-width $tabtop-max) { display: none; }
    @include media-query(min-width $desktop-min) { display: block; }

    display: block;
    margin: 0;
    text-align: center;
    position: fixed;
    top: z(4rem);
    left: 0;
    width: z(3rem);
    height: z(3rem);
    background-color: $black;
    font-size: z((13 / $l) * 1rem);

    filter: alpha(opacity = 0);
    @include rb-prefix(opacity, 0);

    &.is-shown {
        @include transition(opacity 0.5s ease-in 0.3s);

        filter: alpha(opacity = 100);
        @include rb-prefix(opacity, 1);
    }

    &:hover {
        background-color: $green;
        cursor: pointer;
    }

    & > .comside-float-icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: $white;
        height: 100%;
        width: 100%;
        line-height: z(3rem);
    }
}

.comside-list {
    border-bottom: 1px solid $whiteDark2;
}

.common-sidebar-nav .comside-list {
    @include media-query(max-width $tabtop-max) {
        &:nth-of-type(n+2) { display: none; }
        .is-shown &:nth-of-type(n+2) { display: block; }
    }
}

.comside-link {
    padding: 0 0 0 z(3rem);

    &:not(.toggle) {

        .comside-icon-active { display: none; }

        &:hover {
            color: $black;
            background-color: $whiteDark3;
        }

        &.active {
            color: $orange;
            *[class^="comside-icon-"] { display: block; }
        }
    }

    &.toggle {
        &:hover {
            color: $white;
            background-color: $green;
        }
        &.active { color: $white; }
    }
}

.common-sidebar-nav {
    .comside-link {
        color: $white;
        background-color: $black;
    }
}
