/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-FORM
 *  
 *  All Form UI objects used globally.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.form {
    font-size: z(12 / $l * 1rem);
    line-height: z(1rem);
    color: $black;
    margin: z(1rem) 0 0 0;
    padding: 0 0 z(1rem) 0;
}

.form-group {
    &:nth-child(n+2) { margin-top: z(1rem); }
}

.form-title {
    display: block;
    margin: 0 0 z(0.5 * 1rem) 0;
    height: z(1.5 * 1rem);
    line-height: z(1.5 * 1rem);
    font-size: z(18 / $l * 1rem);
}

.form-decos {
    position: relative;
    width: 100%;
    height: z(1rem);
    margin: z(0.5 * 1rem) 0;

    &:before {
        content: " ";
        display: block;
        position: absolute;
        width: 45%;
        top: 0;
        left: 0;
        height: z(0.5 * 1rem);
        border-bottom: 1px solid $black;
        z-index: 20;
    }

    &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 45%;
        top: 0;
        right: 0;
        height: z(0.5 * 1rem);
        border-bottom: 1px solid $black;
        z-index: 20;
    }

    .form-deco-img {
        display: block;
        width: z(1rem);
        height: z(1rem);
        margin: 0 auto;
        z-index: 21;
    }
}

.form-control {
    @include rb-border-radius(3px);
    display: block;
    padding: z(0.5 * 1rem);
    width: 100%;
    height: z(2rem);
    border: 1px solid $gray;
    background-color: $white;
    background-image: none;
    color: $black;
    font-size: z(14 / $l * 1rem);
    font-family: $ff-sans-light;
    line-height: z(2rem);
    // transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
        height: z(1rem);
        color: $gray;
        font-size: z(12 / $l * 1rem);
        font-family: $ff-sans-light;
        font-weight: 400;
        line-height: z(1rem);
        opacity: 1;
    }
}

.form-go {
    display: block;
    height: z(1rem);
    line-height: z(1rem);
    font-size: z(12 / $l * 1rem);

    &:hover { color: $orange; }
}

.help-block {
    color: $black;
    display: block;
    margin-top: z(0.5 * 1rem);
    margin-bottom: z(0.5 * 1rem);
    font-size: 14px;
    line-height: z(1rem);
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-lcal"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
    &:focus {
        background-color: $greenLite2;
        border: 1px solid $green;
    }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

input[type="file"] {
    display: block;
    font-size: z(12 / $l * 1rem);
    line-height: z(1rem);
    height: z(1rem);
    margin: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

label, .input-info {
    display: block;
    font-weight: normal;
    margin-bottom: z(0.5 * 1rem);
    font-size: z(12 / $l * 1rem);
    line-height: z(1rem);
    color: $black;
}

label { height: z(1rem); }
.input-info {
    font-family: $ff-sans-lightitalic;
    color: $gray2;
}

.input-info-inline {
    @extend .input-info;
    display: inline-block;
}

.btn {
    @include rb-border-radius(3px);
    display: inline-block;
    margin: 0;
    padding: 0 z(0.5 * 1rem);
    height: z(2rem);
    border: 0 solid transparent;
    background-color: $green;
    background-image: none;
    color: $white;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    font-size: z(14 / $l * 1rem);
    line-height: z(2rem);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.btn-default { @include rb-button-color($green, $white, $green); }

    &.btn-purple { @include rb-button-color($purple, $white, $purple, 15); }

    &.btn-blue { @include rb-button-color($blue, $white, $blue); }

    &.btn-red { @include rb-button-color($red, $white, $red, 25); }

    &.btn-orange { @include rb-button-color($orange, $white, $orange, 10); }

    &.btn-yellow { @include rb-button-color($yellow, $white, $yellow, 10); }

    &.btn-black {
        background-color: $black;
        border: 1px solid $black;
        color: $white;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }

    &.btn-disable { @include rb-button-color($gray, $white, $gray, 25); }

    &.btn-iconized {
        padding-left: 2rem;
        min-width: z(3rem);
        position: relative;

        &:before {
            position: absolute;
            display: block;
            left: 0;
            padding-left: z(0.5rem);
            height: 100%;
            width: z(1rem);
            text-align: center;
            color: inherit;
            text-decoration: inherit;
            font-weight: normal;
            font-style: inherit;
            font-size: inherit;
            font-family: $ff-iconfont;
            line-height: inherit;
        }
    }

    &.btn-create {
        @extend .btn-iconized;
        @extend .btn-blue;
        &:before { content: "\f067"; }
    }

    &.btn-read {
        @extend .btn-iconized;
        @extend .btn-blue;
        &:before { content: "\f06e"; }
    }

    &.btn-update {
        @extend .btn-iconized;
        @extend .btn-default;
        &:before { content: "\f021"; }
    }

    &.btn-delete {
        @extend .btn-iconized;
        @extend .btn-red;
        &:before { content: "\f014"; }
    }

    &.btn-save {
        @extend .btn-iconized;
        @extend .btn-default;
        &:before { content: "\f02e"; }
    }

    &.btn-soon {
        @extend .btn-iconized;
        @extend .btn-yellow;
        &:before { content: "\f071"; }
    }
}

.btn-group {
    @include clearfix;
    @include rb-border-radius(3px);
    border: 1px solid $green;
    overflow: hidden;

    .btn {
        @include rb-border-radius(0);
        &:nth-of-type(n+2) { border-left: 1px solid lighten($green, 15); }
    }

    .btn-child { @extend .btn-default; }
}

.radio, .checkbox {
    display: block;
    margin: z(0.5 * 1rem) 0;
    min-height: z(1rem);
    vertical-align: middle;
}

.selectbox {
    @include clearfix;
    position: relative;
    min-width: z(12rem);
    width: z(12rem);

    &:nth-child(n+2) { margin-top: z(1rem); }

    & > p:first-of-type {
        float: left;
        overflow: hidden;
        margin: 0;
        max-width: z(3rem);
        width: z(3rem);
        height: z(2rem);
        line-height: z(2rem);
    }
    select {
        @include rb-border-radius(3px);
        float: left;
        overflow: hidden;
        margin: 0;
        width: 75%;
        height: z(2rem);
        border: 0;
        background-color: $whiteDark2;
        color: $black;
        text-indent: 0.01px;
        text-overflow: "";
        font-size: z(12 / $l * 1rem);
        line-height: z(2rem);
        -webkit-appearance: none;
        padding: 0 z(0.5rem);
    }
    &:before {
        position: absolute;
        top: -6px;
        right: 0;
        width: z(2rem);
        height: z(2rem);
        content: "\f0d7";
        font-size: z(12 / $l * 1rem);
        font-family: $ff-iconfont;
        line-height: z(2rem);
        text-align: center;
        padding: 6px;
    }
}

.form-inline {
    @extend .form;

    .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .radio,
    .checkbox {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }

    & > * {
        margin-right: z(0.5 * 1rem);
    }

}

.form-horizontal {
    @extend .form;

    .label-left {
        display: block;
        float: left;
        padding: 0 z(1rem) 0 0;
        width: 16.667%;
        height: z(1.5 * 1rem);
        text-align: right;
        line-height: z(1.5 * 1rem);
    }

    .input-right {
        width: 83.333%;
        float: left;
    }

    .push-right {
        width: 83.333%;
        float: right;
    }

    .form-group {
        @include clearfix;
    }
}

.form-single {
    @include clearfix;
    @include rb-border-radius(3px);
    overflow: hidden;
    padding: z(2rem);
    @include media-query(min-width $tablet-min) {
        max-width: z(24rem);
        width: z(24rem);
    }
    @include media-query(max-width $mobtab-max) {
        max-width: z(15rem);
        width: z(15rem);
    }
    background-color: $whiteDark1;
    color: $black;
    margin: z(1rem) auto;
}

.radio-inline,
.checkbox-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0 z(0.5 * 1rem);
    vertical-align: middle;
}

select::-ms-expand { display: none; }


