// ----------------------------------------------------------------------------\
// WIKASA.OBJECT.BREAKPOINT
// 
// Global variable definitions for ready to used media query.
// 
// @author Bangsawan & Silvia
// 
// @version 0.0.1
// Copyright 2014. Free licensed.
// ----------------------------------------------------------------------------/

$mobile:  min-width 320px max-width 639px;
$tablet:  min-width 640px max-width 959px;
$desktop: min-width 960px max-width 1279px;
$wide:    min-width 1280px;
