// ----------------------------------------------------------------------------\
// WIKASA.BASE.COLOR
// 
// Color variables.
// 
// @author Bangsawan & Rianti
// @version 0.0.1
// 
// Copyright 2014. Free licensed.
// ----------------------------------------------------------------------------/

// ----------------------------------------------------------------------------\
// Color variable.
// ----------------------------------------------------------------------------/

$white: #FFFFFF;
$whiteDark1: #F3F3F3;
$whiteDark2: #EAEAEA;
$whiteDark3: #B4B6B2;

$black: #2B2F3A;
$blackLite: #2D3E51;

$gray: #C4C4C4;
$gray2: #6F6F6F;

$green: #64AFB2;
$green2: #354A5C;

$red: #EF4B4B;
$yellow: #E8B71C;
$orange: #EA6B53;

$c-color: $black; // Bodycopy color
$h-color: $black; // Heading color
$a-color: $black; // Link color
