// ----------------------------------------------------------------------------\
// WIKASA.BASE.COLOR
// 
// Color variables.
// 
// @author Bangsawan & Rianti
// @version 0.0.1
// 
// Copyright 2014. Free licensed.
// ----------------------------------------------------------------------------/

// ----------------------------------------------------------------------------\
// Color variable.
// ----------------------------------------------------------------------------/

$white: #FFFFFF;
$whiteDark1: #F3F3F3;
$whiteDark2: #EAEAEA;
$whiteDark3: #B4B6B2;

$black: #2B2F3A;
$blackLite: #2D3E51;
$blackLite2: #495d73;

$gray: #C4C4C4;
$gray2: #6F6F6F;

$green: #64AFB2;
$green2: #354A5C;
$greenLite: #DAECEC;
$greenLite2: #EEF6F7;

$red: #EF4B4B;
$redLite: #FAC7C7;

$yellow: #E8B71C;
$yellowLite: #FAF0D1;

$orange: #EA6B53;

$blue: #648CB2;
$blueLite: #C8D7E4;

$c-color: $black; // Bodycopy color
$h-color: $black; // Heading color
$a-color: $black; // Link color

$alert-success-bgc: $greenLite2;
$alert-info-bgc: $blueLite;
$alert-warning-bgc: $yellowLite;
$alert-danger-bgc: $redLite;
