/** ------------------------------------------------------------------------- *\
 *  WIKASA.BASE.ELEMENT
 *  
 *  HTML5 element styling.
 *  
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

// ----------------------------------------------------------------------------\
// Box Model.
// ----------------------------------------------------------------------------/
%border-box-model {
    @include box-sizing(border-box);
}

*,
*:before,
*:after {
    @extend %border-box-model;
}

// ----------------------------------------------------------------------------\
// HTML.
// ----------------------------------------------------------------------------/
html {
    font-size: 100%;
    height: 100%;
    min-width: 320px;
    // overflow: scroll;
}

// ----------------------------------------------------------------------------\
// Body.
// ----------------------------------------------------------------------------/
body {
    display: block;
    min-width: 320px;
    height: 100%;
    color: $black;
    font-family: $ff-sans-regular;
}

// ----------------------------------------------------------------------------\
// Typography.
// ----------------------------------------------------------------------------/
%ff-serif {
    font-family: $ff-serif-regular;
}

p, pre, ol, ul, address, a {
    @include typecsset-font-size(17px);
}

p.test-serif {
    font-family: $ff-serif-regular;
}

cite, em, var, dfn {
    font-family: $ff-sans-lightitalic;
    font-style: normal;
}

address {
    font-family: $ff-sans-regular;
    font-style: normal;
}

blockquote {
    font-family: $ff-serif-italic;
    font-style: normal; 
}

a {
    text-decoration: none;
    color: $black;
}
