/** ----------------------------------------------------------------- *\
 *  WIKASA.BASE.ELEMENT
 *  
 *  HTML5 element styling.
 *  
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ----------------------------------------------------------------- */

// --------------------------------------------------------------------\
// Box Model.
// --------------------------------------------------------------------/
%border-box-model {
    @include box-sizing(border-box);
}

*,
*:before,
*:after {
    @extend %border-box-model;
}

// --------------------------------------------------------------------\
// Body.
// --------------------------------------------------------------------/
body {
    font-family: $ff-sans-regular;
    background-color: $whiteDark1;
    min-height: 100%;
}
