/** ------------------------------------------------------------------------- *\
 *  WIKASA.BASE.GRID-SETTING
 *  
 *  Global variable definitions needed by profoundgrid.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

$total_width: 59em; // 944px
$container_margin: auto;
$gutter_width: 1em; // 16px
$max_width: 59em; // 944px
