/** ----------------------------------------------------------------- *\
 *  WIKASA.BASE.SETTING
 *  
 *  Variables & Global styles.
 *  
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ----------------------------------------------------------------- */

// --------------------------------------------------------------------\
// Foundation.
// --------------------------------------------------------------------/

$base: 16;
$b: $base;
$lead: $base;
$l: $base;
$basepx: ($base * 1px);
$bp: ($base * 1px);
$leadpx: ($lead * 1px);
$lp: ($lead * 1px);
