/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-TAB
 *  
 *  Tab Nav object used globally.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.common-tab {
    height: 3rem;
    overflow: hidden;
    width: 100%;
    margin-bottom: z(2rem);
    
    &:before {
        position: relative;
        display: block;
        width: 100%;
        height: z(3rem);
        content: "";
        border-bottom: 1px solid $whiteDark2;
        margin-bottom: z(-3rem);
    }

    & > *[class^="comtab-link"] {
        position: relative;
        display: block;
        height: 100%;
        font-size: z(14 / $l *  1rem);
        line-height: z(3rem);
        float: left;
        border-bottom: 1px solid $whiteDark2;

        &:hover {
            color: $orange;
            border-bottom: 1px solid $orange;
        }

        &:nth-child(n+1) {
            margin-right: z(2rem);
        }
    }
}
