/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-TAB
 *  
 *  Tab Nav object used globally.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.common-tab {
    @include clearfix;
    position: relative;
    // height: z(3rem);
    width: 100%;
    margin-bottom: z(2rem);
    
    &:before {
        position: relative;
        display: block;
        width: 100%;
        height: z(3rem);
        content: "";
        border-bottom: 1px solid $whiteDark2;
        margin-bottom: z(-3rem);
    }

    .comtab-link {
        position: relative;
        display: block;
        height: 100%;
        font-size: z(14 / $l *  1rem);
        line-height: z(3rem);
        float: left;
        border-bottom: 1px solid $whiteDark2;
        z-index: 801;

        &:hover,
        &.is-active {
            color: $orange;
        }

        &:nth-child(n+2) { margin-left: z(2rem); }

        @include media-query(max-width $mobtab-max) {
            &:nth-child(n+2) { margin-left: z(1rem); }
        }
    }

    .comtab-dropdowns {
        @include clearfix;
        display: none;
        clear: left;
        position: relative;
        top: -1px;
        left: 0;
        width: 100%;
        background-color: rgba($whiteDark2, 0.8);
        padding: 0 z(1rem);

        &.is-shown { display: block; }

        .comtab-dropdown {
            @include clearfix;
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            text-align: center;
        }

        .comtab-dd-link {
            @extend .comtab-link;
            border-bottom: 0 solid transparent;
            padding: 0 z(1rem);
            &:nth-child(n+2) { margin-left: 0; }
            &:hover { border-bottom: 0 solid transparent; }    
        }

        .is-shown{
            display: block !important;
        }
    }
}
