/** ----------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON.TRIANGLE
 *  
 *  Common Triangle object.
 *  @author Rezki & Rianti
 *  @version 0.0.0
 *  Copyright 2013. Free licensed.
 ** ----------------------------------------------------------------- */

%cm-triangle-bottom {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-width: 0 6px 6px 6px;
	border-style: solid;
}

%cm-triangle-up {
	position: absolute;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 6px;
	content: " ";
	pointer-events: none;
}
