/** ----------------------------------------------------------------- *\
 *  WIKASA.OBJECT.CONTAINER
 *  
 *  Container object.
 *  @author Rezki & Rianti
 *  @version 0.0.0
 *  Copyright 2013. Free licensed.
 ** ----------------------------------------------------------------- */

%cn-full {
	max-width: $leadpx * 43;
	min-width: $leadpx * 43;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

%cn-half {
	max-width: $leadpx * 21.5;
	min-width: $leadpx * 21.5;
	width: 50%;
	position: relative;
	float: left;
}

%cn-main {
	padding: $leadpx 0 0 0;
	width: $leadpx * 33;
	position: relative;
}

%cn-watch {
	padding: $leadpx 0 0 0;
	width: $leadpx * 35;
	position: relative;
}

%full-width {
	width: 100%;
	z-index: 1100;
}

.page {
	@extend %cn-full;
	@include clearfix;
}

.ctn-main {
	@extend %cn-main;
	float: left;
}

.ctn-watch {
	@extend %cn-watch;
	float: left;
}
