/** ----------------------------------------------------------------- *\
 *  WIKASA.OBJECT.CONTAINER
 *  
 *  Container object.
 *  @author Rezki & Rianti
 *  @version 0.0.0
 *  Copyright 2013. Free licensed.
 ** ----------------------------------------------------------------- */

%cn-full {
	max-width: 1180px;
	min-width: 1180px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

%cn-main {
	padding: $leadpx 0 0 0;
	width: $leadpx * 38;
	position: relative;
}

.page {
	@extend %cn-full;
	@include clearfix;
}
