/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-HEAD
 *  
 *  Head object used globally.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.common-heads {
    @include media-query(max-width $tabtop-max) { position: relative; }
    @include media-query(min-width $desktop-min) { position: fixed; }
    top: 0;
    z-index: 1999;
    overflow: hidden;
    width: 100%;
    min-height: z(3rem);
    border-bottom: 1px solid $whiteDark2;
    background-color: $white;
}

.common-head {
    @include clearfix;
    position: relative;
    width: 100%;

    *[class^="comhead-link"] {
        display: block;
        float: left;
        font-size: z( (12 / $lead) * 1rem ); // 12px
        line-height: z(3rem); // 48px
        background-color: #FFF;
    }

    .comhead-brands {
        display: block;
        float: left;
        position: relative;
        z-index: 3013;
        max-width: z(3rem);
        max-height: z(3rem);
        width: z(3rem);
        height: z(3rem);
        padding: 4px;
        background-color: $black;
        &:hover { background-color: $orange; }

        @include media-query(max-width $tablet-max) {
            position: absolute;
            top: 0;
            left: 0;
        }

        & > img {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            margin: z(-1rem) 0 0 z(-1rem);
            width: z(2rem);
            height: z(2rem);
        }
    }

    .comhead-link-basics {
        @include clearfix;
        @include media-query(min-width $tabtop-min) {
            border-left: 1px solid $whiteDark2;
            border-right: 1px solid $whiteDark2;
        }
        @include media-query(max-width $tablet-max) {
            border-left: 0 solid transparent;
            border-right: 0 solid transparent;
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
        }

        .comhead-link-trigger {
            height: z(3rem); // 48px
            @include media-query(min-width $tabtop-min) { display: none; }
            @include media-query(max-width $tablet-max) {
                float: none;
                width: 100%;
                padding-left: z(4rem);
            }
        }

        .comhead-link-basic {
            height: z(3rem); // 48px
            @include media-query(min-width $tabtop-min) { float: left; }
            @include media-query(max-width $tablet-max) {
                display: none;
                float: none;
                width: 100%;
                padding-left: z(4rem);

                &.is-shown { display: block; }
            }
        }

        .comhead-link-basic:nth-child(n+2) {
            @include media-query(max-width $tablet-max) { border-top: 1px solid $whiteDark2; }
            @include media-query(min-width $tabtop-min) { border-left: 1px solid $whiteDark2; }
        }
    }

    .comhead-link-search {
        height: z(3rem); // 48px
    }

    .comhead-link-basic,
    .comhead-link-trigger,
    .comhead-link-search,
    .comhead-link-user {
        padding: 0 z(1rem) 0 z(1rem);
        &:hover { background-color: $whiteDark2; color: $orange; }
    }

    .comhead-link-user {
        @include clearfix;
        z-index: 2000;
        float: right;
        padding: 0 z(1rem);
        height: z(3rem); // 48px

        @include media-query(max-width $tablet-max) {
            position: absolute;
            right: 0;
            top: 0;
            float: none;
        }

        & > * {
            display: block;
            float: left;
        }
    }

    .comhead-username {
        @include media-query(max-width $mobile-max) {
            display: none;
        }
    }

    .comhead-userpic {
        position: relative;
        max-width: $lp * 2;
        max-height: $lp * 2;
        width: $lp * 2;
        height: $lp * 2;
        overflow: hidden;
        border: 0;
        margin: z(0.5 *1rem);
    }
}
