/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-MAINHEAD
 *  
 *  Head object globally used inside main layout.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.common-mainheads {
    @include clearfix;
    margin-bottom: z(2rem);
    width: 100%;
    height: auto;
    @include media-query(max-width $tabtop-max) { padding: 0; }
    @include media-query(min-width $desktop-min) { padding: 0 z(2rem); }
}

.common-mainhead {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.mainhead-meta {
    @include clearfix;
    margin-bottom: z(1rem);
    min-width: 100%;
    width: 100%;
    color: #999;
    font-size: z(13 / $l * 1rem);
    line-height: z(1rem);

    & > * {
        @include media-query(min-width $tablet-min) {
            float: left;
        }
    }

    .headmeta-userpics {
        @include media-query(max-width $tabtop-max) {
            margin-bottom: z(1rem);
        }
        position: relative;
        display: block;
        overflow: hidden;
        margin-right: z(1rem);
        width: z(2rem);
        height: z(2rem);
    }

    span[class^="headmeta-"] { margin: z(12 / $l * 1rem) 0 0 0; }
}

.mainhead-title {
    @include media-query(max-width $tabtop-max) { padding: 0; }
    @include media-query(min-width $desktop-min) { padding: 0 0 0 z(3rem); }
    width: 100%;
}

.common-mainheads.test {
    background-color: $whiteDark1;
}

.mainhead-tools {
    @include clearfix;
    position: relative;
    left: 50%;
    float: left;
    margin: z(1rem) 0 0 0;

    .mainhead-tool {
        @include clearfix;
        position: relative;
        right: 50%;
        float: left;
        margin: z(0.5 * 1rem) z(0.25 * 1rem);
        background-color: $black;

        &:hover { background-color: $orange; }
    }
}

.common-mainheads.altered {
    background-color: $green;
    margin-bottom: z(1rem);
    padding: z(1rem);

    .mainhead-meta { color: $black; }
    .mainhead-title { color: $white; }
    .headmeta-userpics { border: 2px solid $white; }
}
