/*
Course Header.

Header for course page.

*Authored by Bangsawan & Silvi.*

Main Class: '.ctn-watch'

####Name Meanings####
*  ctn : content
*  les : lesson
*  lh : lesson header
*  lw : lesson watch
*  lm : lesson media
*  nav : navigation
*  sec : secondary
*  lns : lesson navigation secondary
*  btn : button
*  lwt : lesson watch tools
*  lo : lesson overview

Markup:
<div class="ctn-watch">
    <div class="les-header">
        <div class="les-titles">
          <p class="lh-label">Lesson 2</p>
          <h1 class="lh-title">Lorem ipsum dolor sit amet consectetur.</h1>
        </div>
        <div class="les-watch">
            <div class="les-media">
                <div class="lm-player"></div>
            </div>
            <div class="les-nav-sec">
                <a href="#" class="lns-prev-btn lns-btn"></a>
                <a href="#" class="lns-next-btn lns-btn">Next Lesson</a>
            </div>
            <div class="lw-tools">
              <a href="#" class="lw-tool">
                <div class="lwt-icon">
                  <i class="fa fa-check-circle"></i>
                </div>
                <div class="lwt-text">
                  <p>Mark as complete</p>
                </div>
              </a>
              <a href="#" class="lw-tool">
                <div class="lwt-icon">
                  <i class="fa fa-star"></i>
                </div>
                <div class="lwt-text">
                  <p>Add to favourites</p>
                </div>
              </a>
              <a href="#" class="lw-tool">
                <div class="lwt-icon">
                  <i class="fa fa-share"></i>
                </div>
                <div class="lwt-text">
                  <p>Share</p>
                </div>
              </a>
            </div>
        </div>
        <div class="les-overview">
            <h3 class="lo-label">Author's description</h3>
            <div class="lo-ctn">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, qui, quibusdam distinctio sed itaque culpa cupiditate voluptatibus eveniet repudiandae incidunt quas soluta est vero vel doloremque. Voluptatum, quo tempore laboriosam quisquam vero earum dolorum quis sed numquam consequatur doloremque molestiae culpa. Quas, recusandae cupiditate dignissimos consequuntur! In, eaque, quibusdam, ratione corporis soluta a magni delectus voluptates nihil rerum voluptatibus repellendus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quibusdam labore placeat ratione saepe fugiat repellat totam harum quaerat explicabo esse odit hic alias earum laudantium vero distinctio qui! Eligendi.</p>
            </div>
        </div>
        <div class="les-widgets">
            <p class="les-widget-title">Resources</p>
            <ul class="les-resources">
                <li><a href="#" class="les-resource lr-download">attachment1.pdf</a></li>
                <li><a href="#" class="les-resource lr-download">attachment2.pdf</a></li>
                <li><a href="#" class="les-resource lr-link">link1</a></li>
                <li><a href="#" class="les-resource lr-link">link2</a></li>
            </ul>
        </div>
    </div>
</div>

Styleguide 9
*/

.ctn-watch {
	background-color: #F3F3F3;
}

.les-nav-pri-shame {
	min-width: $leadpx * 8;
	width: $leadpx * 8;
	min-height: $leadpx * 40;
	height: 100%;
	overflow: hidden;
	@include clearfix;
	float: left;
	// background-color: #FFF;
}

.les-header {
	@include clearfix;
	position: relative;
	width: 100%;
}

.les-titles {
	overflow: hidden;
	width: $leadpx * 28;
	// height: $leadpx * 3;
	margin: 0 0 $leadpx 0;
	padding: 0 $leadpx;

	.lh-label {
		overflow: hidden;
		width: 100%;
		height: $leadpx;
		font-size: 12px;
		font-family: $ff-sans-light;
		line-height: $leadpx;
	}

	.lh-title {
		font-size: 32px;
		line-height: $leadpx * 2;
		min-height: $leadpx * 2;
		margin: 0;
	}
}

.les-watch {
	@include clearfix;
	margin: 0 0 $leadpx 0;
}

.les-media {
	width: $leadpx * 27;
	height: $leadpx * 15;
	margin: 0 0 0 $leadpx;
	position: relative;

	float: left;
}

.lm-player {
	width: 640px;
	height: $leadpx * 15;
	background-color: #000;
}

.les-nav-sec {
	@include clearfix;
	@include border-radius(3px);
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0 0 $leadpx $leadpx;
	width: $leadpx * 6;
	height: $leadpx * 1;

	.lns-btn {
		display: block;
		float: left;
		margin: 0;
		color: $white;
		font-size: 12px;
		line-height: $leadpx;
		background-color: $green;

		&:hover { background-color: $gray; }
	}

	.lns-prev-btn {
		width: $leadpx;
		height: $leadpx;
		border-right: 1px solid $whiteDark1;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: $leadpx;
			height: $leadpx;
			content: "\f104";
			text-align: center;
			font-family: $ff-iconfont;
		}
	}

	.lns-next-btn {
		padding: 0 0 0 6px;
		width: $leadpx * 5;
		height: $leadpx;

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: $leadpx;
			height: $leadpx;
			content: "\f105";
			text-align: center;
			font-family: $ff-iconfont;
		}
	}
}

.les-ctn {
	@include clearfix;
	width: 100%;
}

.lw-tools {
	@include clearfix;
	position: relative;
	float: left;
	overflow: hidden;
	margin: ($leadpx * 2.5) 0 0 $leadpx;
	width: $leadpx * 6;
	height: $leadpx * 10.5;
	border-bottom: 1px solid $gray;

	.lw-tool {
		position: relative;
		display: block;
		padding: ($leadpx * 0.5) 0;
		width: 100%;
		height: $leadpx * 3.5;
		border-top: 1px solid $gray;
		color: $black;
		font-size: 14px;
		margin: 0;

		.lwt-icon {
			@include border-radius(50%);
			position: absolute;
			top: 0;
			left: 50%;
			margin: ($leadpx * 0.5) 0 0 (-$leadpx * 0.5);
			width: $leadpx;
			height: $leadpx;
			background-color: $black;
			color: $white;

			.fa {
				color: $white;
				display: block;
				width: 16px;
				height: $leadpx;
				line-height: $leadpx;
				text-align: center;
				margin: 0 auto;
				font-size: 11px;
			}
		}

		.lwt-text {
			text-align: center;
			position: absolute;
			bottom: 0;
			width: 100%;
			margin: 0 0 ($leadpx * 0.5) 0;

			p {
				margin: 0;
				font-size: 12px;
				font-family: $ff-sans-light;
			}
		}

		&:hover {
			color: $green;
			.lwt-icon { background-color: $green; }
		}
	}
}

.les-overview {
	padding: 0 $leadpx;
	width: $leadpx * 27;
	float: left;

	.lo-label {
		margin: 0 0 ($leadpx * 0.5) 0;
		font-size: 16px;
		height: $leadpx * 1.5;
		line-height: $leadpx * 1.5;
		font-family: $ff-sans-bold;
	}

	.lo-ctn {
		font-family: $ff-sans-light;
		font-size: 14px;
	}
}

.les-widgets {
	position: relative;
	float: right;
	// background-color: #FFF;
	width: $leadpx * 6;

	.les-widget-title {
		margin: ($leadpx * 0.5) 0;
		width: 100%;
		height: $leadpx;
		border-bottom: 1px solid $gray;
		color: $green;
		font-size: 12px;
		line-height: $leadpx;
	}

	.les-resources {
		@include clearfix;
		list-style: none outside none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			height: $leadpx;
			width: 100%;
			overflow: hidden;
			position: relative;
		}

		.les-resource {
			margin: 0;
			width: 100%;
			height: $leadpx;
			color: $black;
			font-size: 12px;
			line-height: $leadpx;
			font-family: $ff-sans-light;
		}

		.lr-download {
			&:after {
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				width: $leadpx;
				height: $leadpx;
				color: $gray;
				content: "\f0ed";
				font-family: $ff-iconfont;
			}
		}
	}
}

/*
Course Header Title.

Header title for course page.

Main Class: '.ctn-watch'

Markup:
<div class="ctn-watch">
    <div class="les-header">
        <div class="les-titles">
          <p class="lh-label">Lesson 2</p>
          <h1 class="lh-title">Lorem ipsum dolor sit amet consectetur.</h1>
        </div>
    </div>
</div>

Styleguide 9.1
*/

/*
Course Header Content.

Header content for course page.

Main Class: '.les-watch'

Markup:
<div class="ctn-watch">
    <div class="les-watch">
	    <div class="les-media">
	        <div class="lm-player"></div>
	    </div>
	    <div class="les-nav-sec">
	        <a href="#" class="lns-prev-btn lns-btn"></a>
	        <a href="#" class="lns-next-btn lns-btn">Next Lesson</a>
	    </div>
	    <div class="lw-tools">
	      <a href="#" class="lw-tool">
	        <div class="lwt-icon">
	          <i class="fa fa-check-circle"></i>
	        </div>
	        <div class="lwt-text">
	          <p>Mark as complete</p>
	        </div>
	      </a>
	      <a href="#" class="lw-tool">
	        <div class="lwt-icon">
	          <i class="fa fa-star"></i>
	        </div>
	        <div class="lwt-text">
	          <p>Add to favourites</p>
	        </div>
	      </a>
	      <a href="#" class="lw-tool">
	        <div class="lwt-icon">
	          <i class="fa fa-share"></i>
	        </div>
	        <div class="lwt-text">
	          <p>Share</p>
	        </div>
	      </a>
	    </div>
	</div>
</div>

Styleguide 9.2
*/

/*
Course Header Media Content.

Header media content for course page.

Main Class: '.les-media'

Markup:
<div class="ctn-watch">
    <div class="les-watch">
	    <div class="les-media">
	        <div class="lm-player"></div>
	    </div>
	</div>
</div>

Styleguide 9.2.1
*/

/*
Course Header Content Navigation Section.

Header content navigation section for course page.

Main Class: '.les-nav-sec'

Markup:
<div class="ctn-watch">
    <div class="les-watch">
	    <div class="les-nav-sec">
	        <a href="#" class="lns-prev-btn lns-btn"></a>
	        <a href="#" class="lns-next-btn lns-btn">Next Lesson</a>
	    </div>
	</div>
</div>

Styleguide 9.2.2
*/

/*
Course Header Content Tools.

Header content tools for course page.

Main Class: '.lw-tools'

Markup:
<div class="ctn-watch">
    <div class="les-watch">
	    <div class="lw-tools">
	      <a href="#" class="lw-tool">
	        <div class="lwt-icon">
	          <i class="fa fa-check-circle"></i>
	        </div>
	        <div class="lwt-text">
	          <p>Mark as complete</p>
	        </div>
	      </a>
	      <a href="#" class="lw-tool">
	        <div class="lwt-icon">
	          <i class="fa fa-star"></i>
	        </div>
	        <div class="lwt-text">
	          <p>Add to favourites</p>
	        </div>
	      </a>
	      <a href="#" class="lw-tool">
	        <div class="lwt-icon">
	          <i class="fa fa-share"></i>
	        </div>
	        <div class="lwt-text">
	          <p>Share</p>
	        </div>
	      </a>
	    </div>
	</div>
</div>

Styleguide 9.2.3
*/
