.cm-discussion {
	@include clearfix;
	float: left;
	margin: $leadpx 0;
	width: $leadpx * 27;
}

.cd-headers {
	@include clearfix;
	margin: 0 0 ($leadpx/2) $leadpx;
	height: $leadpx * 1.5;
	border-bottom: 1px solid $gray;
}

.cdh-title {
	display: block;
	float: left;
	margin: 0;
	height: $leadpx * 1.5;
	font-size: 16px;
	line-height: $leadpx * 1.5;
}

.cdh-counter {
	display: block;
	float: right;
	height: $leadpx * 1.5;
	font-size: 12px;
	line-height: $leadpx * 1.5;

	.cdhc-num {
		margin: 0 ($leadpx / 4) 0 0;
		color: $red;
	}

	.fa {
		margin: 0 0 0 ($leadpx / 4);
	}
}

.cd-main {
	margin: 0 0 0 $leadpx;
}

.cd-row {
	padding: 0 0 0 ($leadpx * 2);
}

.cd-editors {
	@include border-radius(3px);
	background-color: $gray;
	position: relative;

	.cd-users {
		display: block;
		float: left;
		margin: $leadpx 0;
		width: $leadpx * 2;
		
		.cd-uim {
			@include border-radius(50%);
			display: block;
			overflow: hidden;
			width: $leadpx * 2;
			height: $leadpx * 2;
			border: 2px solid $white;
		}
	}
}

.cd-editor {
	@include clearfix;
	padding: 0 $leadpx 0 ($leadpx / 2);
	position: relative;

	&:after {
		right: 100%;
		top: $leadpx * 2;
		left: 0;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #FFF;
		border-width: 6px;
		margin-top: -6px;
	}

	.cd-ta {
		@include border-radius(3px);
		position: relative;
		margin: $leadpx 0 ($leadpx/2) 0;
		width: 100%;
		height: $leadpx * 5;
		outline: none;
		border: 0 solid transparent;
		padding: 12px;
		font-size: 14px;
		line-height: $leadpx;
	}

	.btn {
		float: right;
		margin: 0 0 ($leadpx/2) 0;
	}
}
