/*
Common Pagination.

Pagination on every page.

*Authored by Bangsawan & Silvi.*

Main Class: '.cm-paginations'

####Name Meanings####
*  cm : common

Markup:
<div class="page">
    <div class="cards">
        <ul class="cm-paginations">
            <li><a href="#" class="cm-pagination cmp-first"><i class="fa fa-angle-left"></i></a></li>
            <li><a href="#" class="cm-pagination">1</a></li>
            <li><a href="#" class="cm-pagination">2</a></li>
            <li><a href="#" class="cm-pagination">3</a></li>
            <li><a href="#" class="cm-pagination">…</a></li>
            <li><a href="#" class="cm-pagination">4</a></li>
            <li><a href="#" class="cm-pagination">5</a></li>
            <li><a href="#" class="cm-pagination">6</a></li>
            <li><a href="#" class="cm-pagination cmp-last"><i class="fa fa-angle-right"></i></a></li>
        </ul>
    </div>
</div>

Styleguide 12
*/

.cm-paginations {
	@include border-radius(6px);
	@include clearfix;
	margin: 0 auto;
	padding: $leadpx 0 0 $leadpx;
	width: $leadpx * 11;
	height: $leadpx * 2;
	list-style: none outside none;

	li {
		display: block;
		position: relative;
		float: left;
		margin: 0;
		padding: 0;
		border-left: 1px solid $whiteDark1;

		&:first-child {
			border-left: 0 solid transparent;
		}
	}

	.cm-pagination {
		display: block;
		width: $leadpx;
		height: $leadpx;
		margin: 0;
		font-size: 12px;
		line-height: $leadpx;
		background-color: $gray;
		color: $white;
		text-align: center;

		&.cmp-first,
		&.cmp-last {
			width: $leadpx * 1.25;
		}

		&:hover { background-color: $orange; }
	}
}

/*
Common Pagination

Pagination on every page.

Main Class: '.cm-pagination'

Markup:
<div class="page">
    <div class="cards">
        <ul class="cm-paginations">
            <li><a href="#" class="cm-pagination">1</a></li>
        </ul>
    </div>
</div>

Styleguide 12.1
*/
