/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-LAYOUT
 *  
 *  A set of layout objects with specific implemention for Wikasa.
 *  
 *  @author Bangsawan & Silvia
 *  
 *  @version 0.0.1
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

/* MAIN LAYOUT -------------------------------------------------------------- */
.mains {
    @extend .container;

    @include media-query(max-width $tabtop-max) { &:nth-of-type(1) { margin-top: z(1rem); } }
    @include media-query(min-width $desktop-min) { &:nth-of-type(1) { margin-top: z(4rem); } }
    &:nth-of-type(n+2) { margin-top: z(1rem); }
}

.main {
    font-size: z(1rem);
    
    @include media-query($mobile)  { width: nth($total_width_list, 1); }
    @include media-query($mobtab)  { width: nth($total_width_list, 2); }
    @include media-query($tablet)  { width: nth($total_width_list, 3); }
    @include media-query($tabtop)  { width: nth($total_width_list, 4); }
    @include media-query($desktop) { width: element_width(8); }
    @include media-query($wide)    { width: element_width(8); }

    margin: 0 auto;

    &:nth-of-type(n+2) { margin-top: z(1rem); }
}

/* TEST MOCK ---------------------------------------------------------------- */
.mains.test {
    min-height: 5em;
    background-color: #EEE;

    .main {
        background-color: #DDD;
        min-height: 5em;
    }
}
