/** ----------------------------------------------------------------- *\
 *  WIKASA.OBJECT.HOME.TOOLS.
 *  
 *  Home Tools object.
 *  @author Aardbei & XLV
 *  @version 0.0.0
 *  Copyright 2013. Free licensed.
 ** ----------------------------------------------------------------- */

.home-tools {
	// @include clearfix;
	width: $leadpx * 32;
	height: $leadpx * 2;
	background-color: #FFF;
	margin: 0 0 0 24px;

	.ht-tabs {
		float: left;
		position: relative;
	}

	.ht-tab {
		position: relative;
		display: block;
		float: left;
		margin: 0;
		width: 120px;
		height: $leadpx * 2;
		background-color: $gray;
		color: $white;
		text-align: center;
		line-height: $leadpx * 2;
		font-size: 14px;

		&:hover { background-color: $green; }
		&.active {
			background-color: $orange;
			&:before {
				@extend %cm-triangle-up;
				top: 100%;
				left: 50%;
				margin-left: -6px;
				border-color: rgba(255, 255, 255, 0);
				border-top-color: $orange;
			}
		}
	}

	.ht-sorts {
		float: right;
		position: relative;
	}

	.ht-sort {
		display: block;
		float: left;
		width: 120px;
		height: $leadpx * 2;
		border-left: 1px solid $whiteDark1;
		color: $black;
		line-height: $leadpx * 2;
		text-align: center;
		font-size: 14px;

		&:hover {
			background-color: $whiteDark2;
		}

		.label {
			font-size: 12px;
		}

		.fa:last-child {
			margin-left: 12px;
		}
	}

	.ht-sort-dds {
		@include border-radius(6px);
		@include single-box-shadow;
		position: absolute;
		top: 100%;
		display: none;
		margin: 12px 0 0 0;
		padding: 6px 12px;
		width: 120px;
		background-color: $white;
		z-index: 1003;

		&:after {
			@extend %cm-triangle-bottom;
			bottom: 100%;
			left: 24px;
			border-color: transparent transparent #FFF;
		}

		&.open { display: block; }

		.ht-subsort {
			display: block;
			margin: 0;
			height: 32px;
			color: $black;
			text-align: left;
			font-size: 12px;
			line-height: 32px;
			&:last-child {
				border-top: 1px solid $whiteDark1;
			}

			&:hover { color: $green; }
		}
	}
}
