/* 
Cards.

Card for every course appears on page.

*Authored by Bangsawan & Silvi.*

####Name Meanings####
*  c : card
*  crs : course
*  ca : card author
*  cmeta : card meta

Styleguide 5
*/

.cards {
	@include clearfix;
	margin: 24px 0 0 0;
	&.center{
		padding: 24px 0 0 0;
		width: $leadpx * 33;
	}
}

.card {
	@include border-radius(3px);
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0 0 24px 24px;
	max-width: $leadpx * 10;
	max-height: 360px;
	width: $leadpx * 10;
	background-color: $white;
	font-size: 14px;
	line-height: $leadpx;

	&.c-crs {
		height: 360px;		
	}

	&.c-acm {
		height: 200px;		
	}

	.c-cover {
		width: 100%;
		height: 168px;
		overflow: hidden;
	}

	.c-authors {
		@include clearfix;
		position: relative;
		margin: -24px 0 12px 0;
		padding: 0 12px;
		min-height: $leadpx * 2;
		width: 100%;

		.ca-photos {
			@include border-radius(50%);
			position: relative;
			display: block;
			float: left;
			overflow: hidden;
			width: $leadpx * 2;
			height: $leadpx * 2;
			margin: 0 12px 0 0;
			border: 2px solid $white;
		}

		.ca-texts {
			// width: 208px;
			height: 100%;
			// float: right;
			padding: 0 0 0 12px;
		}
		.ca-name {
			font-size: 14px;
			color: $white;
		}
		.ca-tagline {
			font-size: 12px;
			color: $gray3;
			font-family: $ff-sans-light;
		}

		.c-crs-nums {
			font-size: 12px;
			color: $gray2;
			font-family: $ff-sans-light;
			margin: $leadpx 0 0 0;
			text-align: right;
		}
	}


	.c-overview {
		padding: 0 12px;
		line-height: 24px;
		color: $gray3;
		max-height: $leadpx * 3;
		overflow: hidden;
		margin: 0 0 12px 0;

		* {
			font-size: inherit;
			line-height: inherit;
		}
	}

	.c-metas {
		@include clearfix;
		width: $leadpx * 10;
		height: $leadpx * 3;
		overflow: hidden;
		padding: 12px 12px 0 12px;
		border-top: 1px solid $whiteDark1;
	}
	.c-meta {
		width: 33.333%;
		height: $leadpx * 3;
		float: left;

		& > * {
			margin: 0;
			padding: 0 3px;
			overflow: hidden;
		}

		.cmeta-label {
			font-size: 9px;
			line-height: 24px;
			color: $gray2;
			margin: 0;
		}

		.cmeta-price {
			font-size: 11px;
			line-height: 24px;
			color: $green;
			text-transform: uppercase;
			margin: 0;
		}

		.cmeta-ratings {
			font-size: 11px;
			line-height: 24px;
			color: $gray2;

			.cmeta-rating.active { color: $green; }
		}

		.cmeta-cat {
			color: $black;
			font-size: 11px;
			line-height: 24px;
		}
	}

	.c-crs-btn {
		@include clearfix;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: $leadpx 0;
		min-height: $leadpx * 3;
		width: 100%;
		height: $leadpx * 3;
		border-top: 1px solid $whiteDark1;
		color: $white;

		&.enter {
			text-align: center;
			background-color: $green;
		}

		&.track {
			background-color: $black;
			padding: 0 $leadpx;
		}

		&:hover {
			background-color: $orange;
			cursor: pointer;
		}

		.trackbar-num {
			@include border-radius(12px 0 0 12px);
			display: block;
			float: left;
			margin: $leadpx 0;
			width: $leadpx * 2;
			height: $leadpx;
			background-color: $orange;
			text-align: center;
			font-size: 12px;
			line-height: $leadpx;
		}

		&:hover {
			.trackbar-num {
				background-color: $green;
			}
		}

		.trackbar-graphs {
			@include border-radius(0 12px 12px 0);
			position: relative;
			display: block;
			float: left;
			overflow: hidden;
			margin: $leadpx 0;
			padding: 0 ($leadpx * 0.5);
			min-width: $leadpx * 6;
			min-height: $leadpx;
			width: $leadpx * 4;
			height: $leadpx;
			background-color: $green;

			.trackbar-graph {
				@include border-radius(2px);
				@include clearfix;
				width: $leadpx * 5;
				height: 4px;
				background-color: $white;
				margin: 10px 0;
				position: relative;
			}

			.tg-part {
				position: absolute;
				top: 0;
				left: 0;
				width: 25%;
				height: 100%;
				background-color: $black;
			}
		}
	}

	.c-acme-titles {
		position: absolute;
		top: $leadpx * 0.5;
		left: $leadpx * 0.5;
		width: $leadpx * 6;

		.c-acme-title {
			margin: 0;
			font-size: 16px;
			line-height: $leadpx;
			color: $white;
		}
	}
}

.card-wide {
	@include border-radius(3px);
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0 0 24px 24px;
	max-width: $leadpx * 15.5;
	max-height: $leadpx * 9;
	width: $leadpx * 16;
	height: $leadpx * 9;
	background-color: $white;
	font-size: 14px;
	line-height: $leadpx;

	.c-cover {
		width: $leadpx * 5.5;
		height: $leadpx * 9;
		overflow: hidden;
		float: left;
	}

	.c-authors {
		@include clearfix;
		position: relative;
		margin: 12px 0 12px -36px;
		padding: 0 12px;
		min-height: $leadpx * 2;
		max-height: $leadpx * 2;
		max-width: $leadpx * 9.5;
		width: $leadpx * 9.5;
		overflow: hidden;

		.ca-photos {
			@include border-radius(50%);
			position: relative;
			display: block;
			float: left;
			overflow: hidden;
			width: $leadpx * 2;
			height: $leadpx * 2;
			margin: 0 12px 0 0;
			border: 2px solid $white;
		}

		.ca-texts {
			// width: 208px;
			height: 100%;
			// float: right;
			padding: 0 0 0 12px;
		}
		.ca-name {
			font-size: 14px;
			color: $black;
		}
		.ca-tagline {
			font-size: 12px;
			color: $gray2;
			font-family: $ff-sans-lightitalic;
		}

		.c-crs-nums {
			font-size: 12px;
			color: $gray2;
			font-family: $ff-sans-light;
			margin: $leadpx 0 0 0;
			// text-align: right;
		}
	}


	.c-overview {
		padding: 0 12px;
		font-size: 12px;
		line-height: 24px;
		max-height: $leadpx * 2;
		max-width: $leadpx * 9.5;
		overflow: hidden;
		margin: 0 0 12px 0;

		* {
			font-size: inherit;
			line-height: inherit;
		}
	}

	.c-metas {
		@include clearfix;
		width: $leadpx * 9.5;
		height: $leadpx * 3;
		overflow: hidden;
		padding: 12px 12px 0 12px;
		border-top: 1px solid $whiteDark1;
	}
	.c-meta {
		width: 33.333%;
		height: $leadpx * 3;
		float: left;

		& > * {
			margin: 0;
			padding: 0 3px;
			overflow: hidden;
		}

		.cmeta-label {
			font-size: 9px;
			line-height: 24px;
			color: $gray2;
			margin: 0;
		}

		.cmeta-price {
			font-size: 11px;
			line-height: 24px;
			color: $green;
			text-transform: uppercase;
			margin: 0;
		}

		.cmeta-ratings {
			font-size: 11px;
			line-height: 24px;
			color: $gray2;

			.cmeta-rating.active { color: $green; }
		}

		.cmeta-cat {
			color: $black;
			font-size: 11px;
			line-height: 24px;
		}
	}

	.c-crs-btn {
		@include clearfix;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: $leadpx*1.25 0;
		min-height: $leadpx * 3.5;
		width: $leadpx * 10;
		height: $leadpx * 3.5;
		border-top: 1px solid $whiteDark1;
		color: $white;

		&.enter {
			text-align: center;
			background-color: $green;
		}

		&.track {
			background-color: $black;
			padding: 0 $leadpx;
		}

		&:hover {
			background-color: $orange;
			cursor: pointer;
		}

		.trackbar-num {
			@include border-radius(12px 0 0 12px);
			display: block;
			float: left;
			margin: $leadpx*1.25 0;
			width: $leadpx * 2;
			height: $leadpx;
			background-color: $orange;
			text-align: center;
			font-size: 12px;
			line-height: $leadpx;
		}

		&:hover {
			.trackbar-num {
				background-color: $green;
			}
		}

		.trackbar-graphs {
			@include border-radius(0 12px 12px 0);
			position: relative;
			display: block;
			float: left;
			overflow: hidden;
			margin: $leadpx*1.25 0;
			padding: 0 ($leadpx * 0.5);
			min-width: $leadpx * 6;
			min-height: $leadpx;
			width: $leadpx * 4;
			height: $leadpx;
			background-color: $green;

			.trackbar-graph {
				@include border-radius(2px);
				@include clearfix;
				width: $leadpx * 5;
				height: 4px;
				background-color: $white;
				margin: 10px 0;
				position: relative;
			}

			.tg-part {
				position: absolute;
				top: 0;
				left: 0;
				width: 25%;
				height: 100%;
				background-color: $black;
			}
		}
	}

	.c-acme-titles {
		position: absolute;
		bottom: $leadpx * 0.5;
		left: $leadpx * 0.5;
		width: $leadpx * 4.5;

		.c-acme-title {
			margin: 0;
			font-size: 16px;
			line-height: $leadpx;
			color: $white;
		}
	}
}

/*
Card Courses.

Interface to navigate to Course Page

Main Class: '.card.c-crs'

Markup:
<div class="page">
    <div class="cards">
        <div class="card c-crs">
            <div class="c-cover">
                <img src="../img/png/CCover-280168.png" alt="Card">
            </div>
            <div class="c-authors">
                <a href="#" class="ca-photos">
                    <img src="../img/png/UIM-120120.png" alt="User">
                </a>
                <div class="ca-texts">
                    <a class="ca-name" href="#">Author Name</a>
                    <p class="ca-tagline">This is author's tagline</p>
                </div>
            </div>
            <div class="c-overview">
                <p>Lorem ipsum dolor sit amet, consec te tur adipisicing elit. Nam ad sint assum enda iusto at nulla quibusdam.</p>
            </div>
            <div class="c-metas">
                <div class="c-meta">
                    <p class="cmeta-label">Price</p>
                    <p class="cmeta-price">IDR 180.000</p>
                </div>
                <div class="c-meta">
                    <p class="cmeta-label">Rating</p>
                    <p class="cmeta-ratings">
                        <i class="cmeta-rating active fa fa-circle-o"></i>
                        <i class="cmeta-rating active fa fa-circle-o"></i>
                        <i class="cmeta-rating fa fa-circle-o"></i>
                        <i class="cmeta-rating fa fa-circle-o"></i>
                        <i class="cmeta-rating fa fa-circle-o"></i>
                    </p>
                </div>
                <div class="c-meta">
                    <p class="cmeta-label">Categories</p>
                    <p class="cmeta-cat">Cat.Name</p>
                </div>
            </div>
        </div>
    </div>
</div>

Styleguide 5.1
*/

/*
Card "My Courses".

Lorem ipsum dolor sit amet, consectetur adipisicing elit.

Main Class: '.card.c-myc'

Markup:
<div class="card c-myc">
    <div class="c-cover">
        <img src="../img/png/CCover-280168.png" alt="Card">
    </div>
    <div class="c-authors">
        <a href="#" class="ca-photos">
            <img src="../img/png/UIM-120120.png" alt="User">
        </a>
        <div class="ca-texts">
            <a class="ca-name" href="#">Author Name</a>
            <p class="ca-tagline">This is author's tagline</p>
        </div>
    </div>
    <div class="c-overview">
        <p>Lorem ipsum dolor sit amet, consec te tur adipisicing elit. Nam ad sint assum enda iusto at nulla quibusdam.</p>
    </div>
    <a class="c-crs-btn enter">Begin the course now <i class="fa fa-arrow-right"></i></a>
</div>

Styleguide 5.2
*/

/*
Card "My Courses".

Lorem ipsum dolor sit amet, consectetur adipisicing elit.

Main Class: '.card.c-myc'

Markup:
<div class="card c-myc">
    <div class="c-cover">
        <img src="../img/png/CCover-280168.png" alt="Card">
    </div>
    <div class="c-authors">
        <a href="#" class="ca-photos">
            <img src="../img/png/UIM-120120.png" alt="User">
        </a>
        <div class="ca-texts">
            <a class="ca-name" href="#">Author Name</a>
            <p class="ca-tagline">This is author's tagline</p>
        </div>
    </div>
    <div class="c-overview">
        <p>Lorem ipsum dolor sit amet, consec te tur adipisicing elit. Nam ad sint assum enda iusto at nulla quibusdam.</p>
    </div>
    <a class="c-crs-btn track">
        <div class="trackbar-num">25%</div>
        <div class="trackbar-graphs">
            <div class="trackbar-graph">
                <div class="tg-part"></div>
            </div>
        </div>
    </a>
</div>

Styleguide 5.3
*/

/*
Card Academy.

Lorem ipsum dolor sit amet, consectetur adipisicing elit.

Main Class: '.card.c-acm'

Markup:
<div class="card c-acm">
    <div class="c-cover">
        <img src="../img/png/CCover-280168.png" alt="Card">
    </div>
    <div class="c-acme-titles">
        <h1 class="c-acme-title">Bina Nusantara University</h1>
    </div>
    <div class="c-authors">
        <a href="#" class="ca-photos">
            <img src="../img/png/UIM-120120.png" alt="User">
        </a>
        <div class="ca-texts">
            <p class="c-crs-nums"><span class="c-crs-num">88</span> Courses Available</p>
        </div>
    </div>
    <div class="c-overview">
        <p>Lorem ipsum dolor sit amet, consec te tur adipisicing elit. Nam ad sint assum enda iusto at nulla quibusdam.</p>
    </div>
    <a class="c-crs-btn enter">Visit Academy <i class="fa fa-arrow-right"></i></a>
</div>

Styleguide 5.4
*/
