// --------------------------------------------------------------------------\
// WIKASA.OBJECT.COMMON-GRIDDED
// 
// A set of objects (placeholder) with predefined size based on grid system.
// 
// @author Bangsawan & Silvia
// 
// @version 0.0.1
// Copyright 2014. Free licensed.
// --------------------------------------------------------------------------/

$griddeds: 'alpha',
           'beta',
           'gamma',
           'delta',
           'epsilon',
           'zeta',
           'eta',
           'theta',
           'iota',
           'kappa',
           'lambda',
           'mu';

@each $current-column in $griddeds {
    $i: index($griddeds, $current-column);

    @include media($mobile) {
        @if $i <= 3 {
            .gc-#{$current-column} {
                @include span-columns($i);
            }
        } @else {
            .gc-#{$current-column} {
                @include span-columns(3);
            }
        }
    }

    @include media($tablet) {
        .gc-#{$current-column} {
            @include span-columns($i);
        }
    }

    @include media($desktop) {
        .gc-#{$current-column} {
            @include span-columns($i);
        }
    }

    @include media($wide) {
        .gc-#{$current-column} {
            @include span-columns($i);
        }
    }

    .gc-#{$current-column} {
        // for debugging purpose only
        height: 8em;
        background-color: #333;
        margin-top: 1em;
    }
}

.omega {
    @include omega();
}
