/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-USERPIC
 *  
 *  User Image object used globally.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.userpic {
    @include rb-border-radius(50%);

    & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: ($lp * -1) 0 0 ($lp * -1);
        display: block;
        width: $lp * 2;
        height: $lp * 2;
    }
}

.roundimg{
    
    & > img {
        margin: ($lp * -1) 0 0 ($lp * -1);
        display: block;
        width: $lp * 2;
        height: $lp * 2;
    }    
}

img.round {
    @include rb-border-radius(50%);
}

img.thumb {
    width: 50px;
    height: 50px
}

img.thumb-small {
    width: 32px;
    height: 32px
}

.thumb-small-label {
    padding: 0px 0px 8px 5px;
}