/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-SIDEBAR
 *  
 *  Side Navigation Tool.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.common-sidebars-tool {
    @include media-query(max-width 39.9275em) { top: 0; }
    @include media-query(min-width 40em) { top: 3rem; }

    right: 0;
    z-index: 1998;

    .common-sidebar-tool {
        background-color: #FFF;
    }

    .comside-list {
        border-bottom: 1px solid $whiteDark2;
    }

    .comside-link {
        color: $black;
        background-color: #FFF;

        @include media-query(max-width 39.9275em) { padding: 0 1rem 0 3rem; }
        @include media-query(min-width 40em) { padding: 0 1rem 0 2rem; }

        &:not(.toggle) {
            &:hover {
                color: $black;
                background-color: $whiteDark1;
            }

            &.active {
                color: $orange;
                *[class^="comside-icon-"] { display: block; }
            }

            .comside-icon-active { display: none; }
        }

        &.toggle {
            &:hover {
                color: $white;
                background-color: $green;
            }
            &.active { color: $orange; }
        }
    }

    &.close {
        @include media-query(max-width 39.9275em) {
            // @include transition (all 0.3s ease-in);
            min-height: 0;
            height: 0;
        }

        // z-index: 2000;

        .common-sidebar-tool { background-color: transparent; }
        .comside-list:not(.toggle) {
            @include transition (margin-left 0.3s ease-in);
            @include media-query(min-width 40em) { margin-left: 100%; }
        }
    }
}
