/** ------------------------------------------------------------------------- *\
 *  WIKASA.OBJECT.COMMON-SIDEBAR
 *  
 *  Side Navigation Tool.
 * 
 *  @author Bangsawan & Silvia
 *  @version 0.0.1
 *  
 *  Copyright 2014. Free licensed.
 ** ------------------------------------------------------------------------- */

.common-sidebars-tool {
    z-index: 20;
    border-left: 1px solid $whiteDark2;

    @include media-query(max-width $tabtop-max) { padding: 0; }

    @include media-query(min-width $desktop-min) {
        @include transition(right 0.3s ease-in 0.1s);
        right: z(-13rem);
        padding: z(3rem) 0 0 0;

        &.is-shown { right: z(0rem); }
    }
}

.common-sidebar-tool { background-color: rgba(255, 255, 255, 0.8); }

.common-sidebar-tool .comside-list {
    overflow: hidden;
    max-height: z(3rem);
    height: z(3rem);
    
    &:nth-child(n+2) .comside-link {
        border-top: 1px solid $whiteDark2;
    }
}

.common-sidebar-tool {
    .comside-link:not(.toggle) {
        color: $black;
        background-color: rgba(255, 255, 255, 0.8);
        max-height: z(3rem);
        height: z(3rem);
        line-height: z(3rem);
        border-bottom: 0 solid transparent;
    }

    .comside-link:hover {
        color: $orange;
        background-color: $whiteDark2;
    }

    @include media-query(max-width $tabtop-max) {
        display: none;
        .is-shown & { display: block; }
    }
}

// .common-sidebar-tool {
//     .comside-link {
//         color: $white;
//         background-color: $black;
//     }
// }
